Create_Bounty: Latency: 0.3437s Speed: 2.9097 m/s
Claim_Bounty: Latency: 0.2143s Speed: 4.6668 m/s
Approve_Bounty: Latency: 0.4003s Speed: 2.4980 m/s
